@media screen and (min-width: 700px) {

  #menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    min-width: 120px;
  }

  #membros.grade {
    grid-template-columns: repeat(3, 1fr);
  }

  #membros.lista {
    display: block;
  }

  #membros.lista section {
    margin-bottom: 0.7rem;
  }

  #membros.lista img {
    width: 120px;
    height: auto;
    margin: 0 1rem 0 0;
    float: left;
  }

  #membros.lista section {
    min-height: 150px;
    overflow: auto;
  }

  footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
}