@media screen and (min-width: 700px) {

  #menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    min-width: 120px;
  }

  /* VISUALIZAÇÃO EM GRADE */

  #membros.grade {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  /* VISUALIZAÇÃO EM LISTA */

  #membros.lista {
    display: block;
  }

  #membros.lista section {
    margin-bottom: 0.7rem;
  }

  /* Na lista as imagens não devem aparecer */
  #membros.lista img {
    display: none;
  }

  footer {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }

}